*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
}

.divDescuentos{
    height: 38px;
    background-color: #1CD1B0;
    display: flex;
    align-items: center;
}

.hDescuentos{
    margin-left: 10px;
}

.divHeroes{
    height: 101px;
    display: flex;
    align-items: center;
    background-color: #00669F;
}

.hHeroes{
    margin-left: 28px;
}

.navMenu{
    background-color: #001D2D;
    height: 4vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.enlaces{
    margin: 0px 2vw;
    width: 15vw;
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.enlaces a{
    text-decoration: none;
    color: white;
}

footer{
    background-color: #00669F;
    height: 51px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pFooter{
    margin: 0px;
    color: #FFF9F9;
    font-size: 14px;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#aniadir{
    background-color: #00669F;
    padding: 10px 25px;
    color: white;
    font-size: 50px;
    text-decoration: none;
    border-radius: 50px;
    order: 1;
}

.carta{
    width: 300px;
    margin: 10vh 2vw 5vh 2vw;
}

.banner{
    border-radius: 16px 16px 0px 0px;
    height: 193px;
    position: relative;
}

.banBatman{
    background-image: url('/Módulo 2/Ejercicio_c10/root/img/fondo-batman.png');
}

.banHarley{
    background-image: url('/Módulo 2/Ejercicio_c10/root/img/fondo-harley.png');
}

.rojo{
    color: #CC2424;
    position: absolute;
    top: 15.88px;
    left: 21px;
}

.ft{
    position: absolute;
    width: 122px;
    height: 122px;
    border-radius: 61px;
    left: 89px;
    top: 126px;
    z-index: 10;
}

.divTexto{
    position: relative;
    height: 336px;
    background-color: #F3F3F3;
}

.tituloHarley{
    margin: 0px;
    position: absolute;
    top: 74px;
    left: 65px;
    font-size: 30px;
}

.tituloBatman{
    margin: 0px;
    position: absolute;
    top: 74px;
    left: 89px;
    font-size: 30px;
}

.texto{
    margin: 0px;
    position: absolute;
    top: 119px;
    left: 16px;
    width: 217px;
    height: 113px;
    box-sizing: border-box;
}

.boton{
    padding: 15px 35.78px 15.52px 37px;
    background-color: #00669F;
    color: #F3F3F3;
    position: absolute;
    top: 269px;
    left: 85px;
    text-decoration: none;
}

/* Formularios */
.formRegistro{
    width: 28vw;
    height: 50vh;
    margin: 14vh 0;
}

.input{
    width: 100%;
    height: 8%;
    border: black solid 2px;
    font-size: large;
    margin-bottom: 2%;
}

#comentario{
    width: 100%;
    height: 30%;
    border: black solid 2px;
    font-size: large;
    margin-bottom: 2%;
    font-family: 'Roboto', sans-serif;
}

.botonRegistro{
    width: 49%;
    height: 10%;
    margin: 7% 0 2% 0;
    border-radius: 10px;
    border-style: none;
    font-size: 18px;
}

.verde{
    background-color: #1CD1B0;
    color: black;
}

.gris{
    background-color: #888888;
    color: white;
}

.cuentaTexto{
    text-align: center;
}

.tituloForm{
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 4%;
}

.botonLogin{
    width: 100%;
    height: 10%;
    margin: 7% 0 2% 0;
    border-radius: 10px;
    border-style: none;
    font-size: 18px;
}

.input:focus, #comentario:focus{
    box-shadow: 5px 4px 0px 0px rgba(245,209,62,0.83);
    -webkit-box-shadow: 5px 4px 0px 0px rgba(245,209,62,0.83);
    -moz-box-shadow: 5px 4px 0px 0px rgba(245,209,62,0.83);
}

.verde:hover, .gris:hover{
    background-color: black;
    color: white;
}

.formRegistro :nth-child(n)::placeholder{
    font-size: 14px;
}